html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
}

#root{
    height: 100%;
}

.main-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layout-header{
    height: 60px;
    min-height: 60px;
    width: 100%;
    background-color: #b9b9b8;
    display: flex;
}

.layout-body{
    height: 100%;
    background-color:#f0f1f6; 
}

.layout-footer{
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.copy-right{
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.logo-div{
    background-color: black;
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-img{
    width: 100%;
    height: 100%;
}

.logo-a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 60px;
}

.nb{
    margin-left: 70px;
    height: 100%;
}

.nb-style{
    display: flex;
    align-items: center;
}

.nb-button{
    background-color: transparent;
    border-radius: 5px;
    border: none;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 0px;
    font-size: 14PX;
}

.nb-button-selected{
    background-color: black;
    color: white;
}

.nb-button:hover{
    background-color: black;
    color: white;
}

.nb-cut-line{
    line-height: 30px;
}
